#map{
    height: 300px;
}

div.ui-coordinates {
  font-size: 64px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:64px;
  line-height:64px;
  border-radius:3px;
  display: block;

  margin-left: auto;
  margin-right: auto;
  text-align: center;

  }



div.place {
  font-size: 64px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:64px;
  line-height:64px;
  width:50%;
  float: left;
  text-align: center;
}

#latlng{
  font-size: 64px;
}

#place{
  font-size: 64px;
}

#locate{
  position: absolute;
  top: 155px;
}
